/.vscode
/1.jpg
/3 assignment.html
/3.css
/abc.css
/angular.ts
/animation.css
/animation.html
/array.html
/arrow.html
/ass2.css
/ass2.js
/assign3.htm
/assignment-01.html
/assignment-03.html
/assignment-1-letter.pdf
/assignment-2
/asss2.htm
/backcolor.html
/backgroud.js
/basic.htm
/blur.css
/blur.htm
/bootstamp.css
/bootstamp.html
/box.css
/box.htm
/boxes.html
/boxes.js
/confirm.html
/csk.jpg
/css.css
/css.htm
/d.png
/div.css
/div.html
/dom.html
/dom2.html
/download (1).jpg
/download.jpg
/download.png
/events.html
/events.js
/event_propagation.css
/event_propagation.js
/event_propagattion.html
/external.css
/external.html
/filter.html
/filter.js
/flag.css
/flag.htm
/form.html
/formvalidation.htm
/formvalidation.js
/formvalidation1.js
/gradient.css
/gradient.htm
/h8.jpg
/hotstar.css
/hotstar.html
/image.css
/imagebox.htm
/index.html
/index.js
/javastyle.html
/javastyle.js
/jsass.css
/jsass.html
/jsass.js
/jsbasic.html
/just.html
/keyevents.html
/keyevents.js
/letter.htm
/link.css
/link.htm
/list.htm
/login.css
/login.htm
/marquee.htm
/mi.jpg
/net.css
/net.htm
/net.html
/netf.css
/netflic.css
/netflix-image.jpg
/netflix-logo.webp
/netflix.html
/onclick.html
/onlick.js
/onmouse.css
/onmouse.html
/onmouse.js
/onmouse1.htm
/onmouse1.js
/onmouse2.html
/onmouse2.js
/Portfolio.html
/position.css
/position.htm
/Protfolio.css
/rc.jpg
/resto.css
/resto.htm
/Restourently2.html
/Restrouently2.css
/selector.htm
/selectors.css
/Selectors.html
/Selectors.js
/slides.css
/slides.html
/stack.css
/stack.htm
/student.html
/table ipl.htm
/table.html
/TeJaSwIni.pdf
/text.css
/text.htm
/traandition.html
/transation.css
/transform.css
/transform.html
/try.css
/try.htm
/ttt.htm
/ttt.js
/Ullor.jpg.jpeg
/validation.html
/var.html
/zomato.css
/zomato.html